Package: com.ge0rges.pcfios
Name: Parental Controls For iOS
Depends: mobilesubstrate, preferenceloader, firmware (>=9.0)
Version: 1.0.1
Architecture: iphoneos-arm
Description: Parental Controls For iOS bring the much loved by parents ‘Time Limit’ functionality from the Parental Controls on the mac to your iDevice. You can set different amounts of time for the weekdays and weekends. The preferences are password protected as well is Cydia so your child can’t remove or disable the tweak without your permission.
Maintainer: Ge0rges
Author: Ge0rges <ge0rges@ge0rges.com>
Section: Tweaks
